/* Estilos generales */
html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab','Merriweather', 'Libre Baskerville', 'Lora', 'Playfair Display',  serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Contenedor principal para ocupar toda la altura */
.main-container {
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
  display: flex;
  flex-direction: column; /* Aplica el diseño de columna */
  background: red;
}
/* Estilo del contenido principal */
.content {
  flex: 1; /* Hace que el contenido ocupe el espacio disponible */
}
/* Slider */
.swiper-container {
  width: 100%;
  height: 90vh;
  margin: 10px 0;
  background-color: #f5f5f5; /* Color de fondo temporal */
  background-image: url("../../assets/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-wrapper {
  padding: 28px;
}
.swiper-slide {
  /*   border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 1.3);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.9);
  transition: transform 0.3s ease-in-out;
  height: 600px;
}

.swiper-slide-active {
  transform: scale(1.05);
}

.slide-content {
  padding: 20px;
}

.autor-image {
  margin-bottom: 20px;
}

.autor-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #ddd;
}

.author-details {
  text-align: left;
}
.author-name {
  margin-bottom: 10px;
}

.author-name h1 {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}

.detalles-autor {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.detalles-autor div {
  text-align: center;
}
.detalles-autor .citas {
  font-size: 12px;
}
.detalles-autor .citas h1 {
  font-size: 12px;
}
.detalles-autor .documentos {
  font-size: 1.25rem;
  color: #007bff;
  font-weight: bold;
}

.detalles-autor p {
  margin: 0;
  color: #777;
}

.chart-container {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.chart-container .chart {
}

/* swiper-pagination */
.swiper-pagination {
}

/* Footer */
.footer {
  background: #ffffff;
  padding: 18px 0;
  margin-top: 20px;
  height: 150px;
  position: relative;
  top: -107px;
}

.footer .container {
  width: 100%;
  margin: 0 auto;
}
.footer .row {
}

.footer .logo-uch,
.footer .logo-laboratorio .col {
}
.footer .logo-uch img,
.footer .logo-laboratorio img {
}
.footer .logo-uch {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.footer .logo-uch img {
  width: 30%;
}
.footer .logo-uch div {
  display: flex;
  justify-content: center;
}
.footer .logo-laboratorio {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: 40px;
}
.footer .logo-laboratorio img {
  max-width: 50%;
}
.footer .logo-laboratorio div {
  display: flex;
  justify-content: center;
}
@media (max-width: 425px) {
  .footer .logo-uch img {
    width: 100%;
  }
}
/* Contenedor de los grados académicos */
.academic-degrees {
  line-height: 1.5; /* Ajusta la altura de línea para reducir el espaciado */
}

/* Estilo para los grados académicos */
.academic-degrees h5 {
  margin: 0; /* Elimina el margen por defecto para reducir el espaciado entre los elementos */
  font-size: 0.5rem; /* Ajusta el tamaño de fuente según sea necesario */
  color: #555; /* Ajusta el color si es necesario */
}
